.app {
  background-color: #f3f7fa;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;

  &__logo {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
