.ticket-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &__column {
    width: 141px;
  }

  &__title {
    color: #a0b0b9;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__info {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    @media screen and (max-width: 320px) {
      font-size: 12px;
    }
  }
}
